<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
	<!-- Page Meta Tags-->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon/favicon-16x16.png">
	<link rel="mask-icon" href="~/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="~/assets/css/libs.bundle.css" />

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/assets/css/theme.bundle.css" />

	<!-- Fix for custom scrollbar if JS is disabled-->
	<noscript>
		<style>
			/**
																							  * Reinstate scrolling for non-JS clients
																							  */
			.simplebar-content-wrapper {
				overflow: auto;
			}
		</style>
	</noscript>

	<!-- Page Title -->
	<title>TSAT</title>

</head>
<body class="">

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
		<div class="container">

			<!-- Logo-->
			<a class="navbar-brand d-flex align-items-center lh-1 me-10 transition-opacity opacity-75-hover" asp-action="Index" asp-controller="Home">
				<!-- Logo SVG Icon-->
				<span class="f-w-7 d-block text-success me-2">
					<svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246.46 258.91"><path d="M145.61,187.72,22.41,116.58,0,129.52l50.45,29.13L0,187.77l22.41,12.94s90.75,52.38,100.82,58.2l123.23-71.13L44.7,71.2l78.54-45.34,78.4,45.26-28,16.2-50.31-29L100.85,71.2l123.21,71.13,22.4-12.94L196,100.25q25.25-14.55,50.46-29.12L123.23,0,0,71.13,201.77,187.71l-78.52,45.41L44.8,187.78l28.06-16.19,50.34,29.07Z" fill="currentColor" fill-rule="evenodd" /></svg>
				</span>
				<!--/ Logo SVG Icon -->
				<span class="fw-bold text-body">TSAT</span>
			</a>
			<!-- / Logo-->
			<!-- Mobile Menu Btn-->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="ri-menu-line"></i>
			</button>
			<!-- /Mobile Menu Btn-->

			<div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-controller="Pricing" asp-action="Index">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-controller="About" asp-action="Index">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
					</li>
				</ul>
				<partial name="_LoginPartial" />
			</div>
		</div>
	</nav>    <!-- / Navbar-->
	<!-- Main Section-->
	<main class="pt-10">
		<!-- Page Content Goes Here -->
		@RenderBody()
	</main>

	<!-- Footer -->
	<!-- Footer-->
	<footer class="bg-dark pt-10 pb-8  ">

		<div class="container">
			<!-- Free trial -->
			<div class="border-bottom border-white-10 pb-7">
				<div class="col-12 col-md-8 col-lg-6 d-flex mx-auto flex-column align-items-center justify-content-center">
					<h2 class="fs-1 fw-bolder text-white text-center">
						Try TSAT for free for 30 days with unlimited
						features.
					</h2>
					<a href="#" class="btn btn-primary mt-3 w-100 w-md-auto" role="button">Start free trial</a>
				</div>
			</div>
			<!-- Free trial-->
		</div>

		
		<!-- Footer bottom-->
		<div class="container">
			<div class="pt-6 mt-7 d-flex flex-column flex-md-row justify-content-between align-items-center">
				<span class="small text-white opacity-50 mb-2 mb-md-0">All rights reserved &copy TSAT 2022</span>
				<span class="small text-white opacity-50">Terms of service  |  Security policy</span>
			</div>
		</div>
		<!-- Footer bottom-->

	</footer>
	<!-- / Footer-->

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Theme JS -->
	<!-- Vendor JS -->
	<script src="~/assets/js/vendor.bundle.js"></script>

	<!-- Theme JS -->
	<script src="~/assets/js/theme.bundle.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>