<header class="pt-10">
	<div class="container">
		<div class="text-center col-12 col-sm-9 col-lg-7 col-xl-6 mx-auto position-relative z-index-20">
			<h1 class="display-3 fw-bold mb-2">Contact us</h1>
		</div>
	</div>
</header>


<div class="container position-relative z-index-20 py-5">
	<!-- Contact Details & Form-->
	<div class="row gx-10 my-10 pt-5">
		<!-- Contact Form-->
		<div class="col-12 col-lg-8">
			<p class="mb-3 small fw-bolder tracking-wider text-uppercase text-primary">Get in touch</p>
			<h2 class="display-5 fw-bold mb-6">Send us a message</h2>
			<form>
				<div class="row g-5">
					<!-- Name-->
					<div class="col-12 col-md-6">
						<label class="form-label">Name</label>
						<input type="text" class="form-control" name="name" placeholder="John Doe">
					</div>
					<!-- / Name-->
					<!-- Email-->
					<div class="col-12 col-md-6">
						<label class="form-label">Email</label>
						<input type="email" class="form-control" name="email" placeholder="john@doe.com">
					</div>
					<!-- / Email-->
					<!-- Company Name-->
					<div class="col-12 col-md-6">
						<label class="form-label">Company</label>
						<input type="text" class="form-control" name="company" placeholder="Interswitch Limited">
					</div>
					<!-- / Company Name-->
					<!-- Telephone-->
					<div class="col-12 col-md-6">
						<label class="form-label">Telephone</label>
						<input type="text" class="form-control" name="telephone" placeholder="+234 080-123-300-80">
					</div>
					<!-- / Telephone-->
					<!-- Project Information-->
					<div class="col-12">
						<label class="form-label">Message</label>
						<textarea name="about" class="form-control" cols="30" rows="10"></textarea>
					</div>
					<!-- / Project Information-->
					<!-- Submit btn-->
					<div class="col-12 justify-content-end d-flex">
						<button class="btn btn-primary" type="submit">Send Message</button>
					</div>
					<!-- / Submit Btn-->
				</div>
			</form>
		</div>
		<!-- / Contact Form-->
		<!-- Contact Details-->
		<div class="col-12 col-lg-4 mt-5 mt-lg-0">
			<div class="mb-5">
				<p class="mb-4 small fw-bolder tracking-wider text-uppercase text-primary">Find us online</p>
				<ul class="list-unstyled">
					<li class="d-flex align-items-center mb-2"><i class="ri-github-line me-3 ri-lg"></i> <a class="text-muted" href="#">Github</a></li>
					<li class="d-flex align-items-center mb-2"><i class="ri-facebook-line me-3 ri-lg"></i> <a class="text-muted" href="#">Facebook</a></li>
					<li class="d-flex align-items-center mb-2"><i class="ri-twitter-line me-3 ri-lg"></i> <a class="text-muted" href="#">Twitter</a></li>
					<li class="d-flex align-items-center mb-2"><i class="ri-codepen-line me-3 ri-lg"></i> <a class="text-muted" href="#">Codepen</a></li>
				</ul>
			</div>
			<p class="mb-4 small fw-bolder tracking-wider text-uppercase text-primary">Our head office</p>
			<p>Building 7A, Oko Awo street V/Island Lagos.</p>
		</div>
		<!-- / Contact Details-->
	</div>
	<!-- Contact Details & Form-->

</div>